:root {
    --primary-color: #13206E;
    --secondary-color: #D9A900;
    --white-color: #fff;
    --light-gray-color: #eee;
    --placeholder-color: #888;
    --gap: 3rem;
}

/* Outras Cores 
     * Base Color Wheel Adobe: #2B4AFF; 
     * #2A49F6
     * #2642E0
     * #223BC9
     * #1E35B3
     * #1A2E9C 
     * #0F1A58
     * #172887 */